body{
    margin: 0;
}
.box{
    margin-left: 600px;
    margin-top: 250px; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(67, 1, 121);
    animation: mov 2s ease-out infinite alternate;
}
.num{
    height: 100px;
    font-size: 20px;
    color: #fff;
    text-align: center; 
}

@keyframes mov {
    0% {
        margin-top: 250px;
        margin-left: 0px;
    }
    100% {
        margin-top: 250px;
        margin-left: 1000px;
    }
}