body{
    margin:0;
}
.box {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background:rgb(146, 17, 17);
    position: absolute;
}
.box1{
    margin-left:20px;
    border: #000 2px solid;
    background: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 24%);

}
.box2{
    margin-left:140px;
    border: #000 2px dashed;
    background:rgb(197, 12, 12);
}
.box3{
    margin-left:260px;
}
.box4{
    margin-left:380px;
}